@media (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1010px) {
  html {
    font-size: 49%;
  }
  .abouArea {
    display: block;
    margin: auto;
    text-align: center;
  }
  .textAbout {
    margin: auto;
    width: auto;
    z-index: 100;
  }
  .textAbout p {
    margin-bottom: 10px;
    line-height: 22px;
  }
  .score {
    padding: 10px;
  }
}

@media (max-width: 900px) {
  #containerHome {
    width: 80%;
  }
  .text h1 {
    font-size: 5.2rem;
  }
  
  .twitterAbout2 {
    display: none;
  }
  
  .imgAbout3 img {
    display: none;
  }

  .score {
    padding: 20px 5px;
    border-radius: 10px;
  }
  .score h1 {
    margin-top: 0;
  }
  .score p {
    margin: 0 0 5px 0;
  }
  .count li {
    margin-bottom: 0;
    padding: 5px 10px;
  }
  #videoArtemis {
    height: auto;
  }
  
}

@media (max-width: 750px) {
  html {
    font-size: 40%;
  }
  .text h1 {
    font-size: 8rem;
  }
  .textAbout h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text h1::after {
    content: "";
    margin-left: 10px;
    opacity: 1;

    background: linear-gradient(white, #4b5f72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home img {
    width: 60px;
  }
  #videoArtemis video {
    height: 35vh;
  }
}

@media (max-width: 500px) {
  .text {
    margin-top: -15rem;
  }
  .text h1 {
    font-size: 6rem;
  }
  .text p {
    color: #fff;
    background: linear-gradient(white, #e2e7f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .textAboutFooter img {
    width: 150px;
  }


  /* Menu Mobile =========================*/
  nav {
    display: none;
  }
  .one,
  .two,
  .three {
    background: linear-gradient(white, #8e9abb);
    height:4px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }
  .menu-toggle {
    width:40px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 20px;
  }
  /* Tela Cheia */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #0F131B;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-section.on nav{
    display: block;
  }
  .menu-section.on .menu-toggle .one {
    transform:rotate(45deg) translate(7px,7px);
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .menu-section.on .menu-toggle .three {
    transform:rotate(-45deg) translate(8px,-7px);
  }

  .menu-section.on nav ul{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .menu-section.on nav ul li{
    display: inline-block;
    margin-bottom: 30px;
  }
  .menu-section.on nav ul li a {
    transition-duration: 0.5s;
    font-size: 3rem;
    font-weight: 600;
    display: block;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 35%;
  }
  .score {
    width: 300px;
    margin-bottom: 30px;
  }
  .textAbout h1 {
    margin-top: 20px;
  }
  .textAbout h1 img {
    width: 40px;
    margin-bottom: -3px;
  }
}
@media (max-width: 320px) {
 
  
}